html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'material-icons/iconfont/material-icons.css';

$light-theme-primary: (
  50: #e5e9f1,
  100: #bec7de,
  200: #94a2c7,
  300: #6b7fb0,
  400: #4a64a1,
  500: #264b93,
  600: #1f448a,
  700: #153a7f,
  800: #0b3173,
  900: #00215c,
);

$light-theme-accent: (
  50: #f9f1e2,
  100: #f2dcb6,
  200: #eac687,
  300: #e2af5a,
  400: #de9f3d,
  500: #d8912d,
  600: #d48729,
  700: #ce7924,
  800: #c66c21,
  900: #ba581d,
);

$dark-theme-primary: (
  50: #f9fdf6,
  100: #f4f8f1,
  200: #eff3ec,
  300: #e7ebe4,
  400: #c5c9c2,
  500: #a7aba4,
  600: #7e817b,
  700: #696c66,
  800: #4a4c47,
  900: #282a26,
);

$dark-theme-accent: (
  50: #e9f4e8,
  100: #cae4c6,
  200: #a8d3a2,
  300: #86c37e,
  400: #6db663,
  500: #56aa47,
  600: #4d9b3f,
  700: #418935,
  800: #37782b,
  900: #235a1a,
);

.light-theme {
  @each $hue, $color in $light-theme-primary {
    .bg-primary-#{$hue} {
      background-color: $color;
    }
  };

  @each $hue, $color in $light-theme-accent {
    .bg-accent-#{hue} {
      background-color: $color;
    }
  }
}

.dark-theme {
  @each $hue, $color in $dark-theme-primary {
    .bg-primary-#{$hue} {
      background-color: $color;
    }
  };

  @each $hue, $color in $dark-theme-accent {
    .bg-accent-#{$hue} {
      background-color: $color;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-light {
  color: #FAFAFA !important;

  &.hover {
    &:hover {
      color: #282a26 !important;
    }
  }
}

.text-dark {
  color: #282a26 !important;

  &.hover {
    &:hover {
      color: #FAFAFA !important;
    }
  }
}
